## Deliverable 3. Create a Travel Itinerary Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [15]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Ponta Do Sol,PT,72.23,clear sky,32.6667,-17.1000,Hotel do Campo
1,1,La Ronge,CA,82.44,overcast clouds,55.1001,-105.2842,Northland Motor Hotel
2,2,Yinchuan,CN,73.71,light rain,38.4681,106.2731,JJ Inns - Yinchuan New Moon Square Branch
3,3,Kavieng,PG,83.48,light rain,-2.5744,150.7967,Nusa Island Retreat
4,4,Mecca,SA,85.64,broken clouds,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"

In [18]:
subset_df = vacation_df.loc[(vacation_df["Country"] == "US")]
subset_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
13,13,Kapaa,US,85.98,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
15,15,Hilo,US,78.24,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
20,20,Flagstaff,US,89.89,clear sky,35.1981,-111.6513,Drury Inn & Suites Flagstaff
25,25,Havelock,US,80.55,broken clouds,34.8791,-76.9013,Sherwood Motel
36,36,Makakilo City,US,88.12,clear sky,21.3469,-158.0858,Marriott's Ko Olina Beach Club
42,42,Jamestown,US,71.37,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
44,44,Kailua,US,89.58,scattered clouds,21.4022,-157.7394,Sheffield House Bed & Breakfast
48,48,Bethel,US,78.73,scattered clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
75,75,Sulphur,US,82.38,mist,30.2366,-93.3774,Fairfield Inn & Suites by Marriott Lake Charle...
88,88,Saint Anthony,US,84.15,broken clouds,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
105,105,Pocatello,US,78.73,scattered clouds,42.8713,-112.4455,Clarion Inn Pocatello
113,113,Mayo,US,81.81,scattered clouds,38.8876,-76.5119,Resorts Resource Group International
117,117,Palmer,US,76.55,few clouds,42.1584,-72.3287,Wedgewood Motel
127,127,Bartow,US,87.89,clear sky,27.8964,-81.8431,"Holiday Inn Express & Suites Bartow, an IHG Hotel"
142,142,Alpena,US,73.94,broken clouds,45.0617,-83.4327,Days Inn by Wyndham Alpena
160,160,Bentonville,US,84.11,clear sky,36.3728,-94.2088,Hilton Garden Inn Bentonville Rogers
161,161,Manhattan,US,82.02,few clouds,40.7834,-73.9662,The Excelsior Hotel
168,168,Russell,US,76.71,heavy intensity rain,32.3502,-85.1999,Macs
184,184,Ahuimanu,US,89.31,scattered clouds,21.4447,-157.8378,Paradise Bay Resort
191,191,Lincoln,US,82.65,clear sky,40.8000,-96.6670,Courtyard by Marriott Lincoln Downtown/Haymarket
193,193,Homer,US,77.07,mist,59.6425,-151.5483,Beluga Lake Lodge
197,197,College,US,84.18,few clouds,64.8569,-147.8028,Pike's Waterfront Lodge
200,200,Grafton,US,77.32,broken clouds,42.2070,-71.6856,The Grafton Inn
210,210,West Helena,US,83.95,overcast clouds,34.5507,-90.6418,Best Western Inn
213,213,Rincon,US,88.21,thunderstorm,32.2960,-81.2354,Days Inn Rincon
228,228,Broome,US,71.01,clear sky,42.2506,-75.8330,Chenango Valley State Park
232,232,Cape Canaveral,US,81.05,clear sky,28.4058,-80.6048,Residence Inn by Marriott Cape Canaveral Cocoa...
237,237,Mount Pleasant,US,86.14,light intensity drizzle,32.7941,-79.8626,Best Western Patriots Point
238,238,Altus,US,87.87,clear sky,34.6381,-99.3340,"Holiday Inn Express & Suites Altus, an IHG Hotel"
239,239,Bemidji,US,84.18,scattered clouds,47.4736,-94.8803,Hampton Inn & Suites Bemidji
242,242,Tooele,US,82.08,clear sky,40.5308,-112.2983,"Holiday Inn Express & Suites Tooele, an IHG Hotel"
257,257,Bud,US,77.94,clear sky,39.4470,-86.1758,Ted McQuinn Trust
261,261,Lexington,US,79.92,clear sky,37.9887,-84.4777,DoubleTree Suites by Hilton Hotel Lexington

In [12]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [13]:
# 4a. Add a marker layer for each city to the map.

# 4b. Display the figure
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Saint Anthony"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Saint Anthony"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Lincoln"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Bentonville"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Bud"]

In [23]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')

stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (45.0205, -93.218), End: (45.0205, -93.218)
Stop 1: (40.8, -96.667), Stop 2: (36.3728, -94.2088), Stop 3: (39.447, -86.1758)

In [25]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2,stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,88,Saint Anthony,US,84.15,broken clouds,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
1,191,Lincoln,US,82.65,clear sky,40.8000,-96.6670,Courtyard by Marriott Lincoln Downtown/Haymarket
2,160,Bentonville,US,84.11,clear sky,36.3728,-94.2088,Hilton Garden Inn Bentonville Rogers
3,257,Bud,US,77.94,clear sky,39.4470,-86.1758,Ted McQuinn Trust

In [29]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))